<section class="container">
  <%= render(
    OverviewView,
    "_details.html",
    token: @token,
    counters_path: @counters_path,
    tags: @tags,
    conn: @conn
  ) %>

  <section data-page="token-holders-list" id="holders">
    <div class="card">
      <%= render OverviewView, "_tabs.html", assigns %>
      <!-- Token Holders -->
     
    </div>
  </section>
  <script defer data-cfasync="false" src="<%= static_path(@conn, "/js/token-counters.js") %>"></script>
</section>
