<%= case @type do %>
    <% :token_burning -> %>
    <%= gettext("销毁通证") %>
    <% :token_minting -> %>
    <%= gettext("增发通证") %>
    <% :token_spawning -> %>
    <%= gettext("创建通证") %>
    <% :token_transfer -> %>
    <%= gettext("通证转移") %>
    <% _ -> %>
    <%= gettext("通证转移") %>
<% end %>