<% address_hash = Address.checksum(@token.contract_address_hash) %>
<% is_proxy = BlockScoutWeb.Tokens.OverviewView.smart_contract_is_proxy?(@token) %>
<div class="card-tabs js-card-tabs">
  <%= link(
        gettext("Token Transfers"),
        class: "card-tab #{tab_status("token-transfers", @conn.request_path)}",
        to: AccessHelpers.get_path(@conn, :token_path, :show, @token.contract_address_hash)
      )
    %>
 
  <% end %>
</div>
